<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
  <link rel="stylesheet" href="/css/mainHeader.css">
</head>
<body>
<section id="banner">
  <div class="banner">
    <ul class="clearfix">
      <li><img src="/img/banner1.png" alt="배너1"></li>
      <li><img src="/img/banner2.png" alt="배너2"></li>
      <li><img src="/img/banner3.png" alt="배너3"></li>
      <li><img src="/img/banner4.png" alt="배너4"></li>
      <li><img src="/img/banner5.png" alt="배너5"></li>
    </ul>
  </div>
</section><!--banner-->

<script src="/js/BannerSlide.js"></script><!--배너 슬라이드 스크립트-->

</body>
</html>