<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/mainHeader.css">
</head>
<body>
<section id="contents">
  <div class="c1">
    <h5>코딩이 어려우신 분? 😭 여기 모여라 ~ 🥰 차근차근 같이 해요! <br>#초보 #입문 #비기너</h5>
    <ul class="clearfix">
      <li><a href="#"><img src="/img/java.png" alt="java img" width="200px" height="160"></a></li>
      <li><a href="#"><img src="/img/Android.png" alt="android img" width="200px" height="160"></a></li>
      <li><a href="#"><img src="/img/AI.png" alt="ai img" width="200px" height="160"></a></li>
      <li><a href="#"><img src="/img/javascript.png" alt="java script img" width="200px" height="160"></a></li>
      <li><a href="#"><img src="/img/Software.png" alt="software img" width="200px" height="160"></a></li>
    </ul>
  </div>
  <div class="c2">
    <h5>코코아와 함께 성장하고 있어요. 🤎 <br>#중수 #미들클래스 #인터미디에이트</h5>
    <ul class="clearfix">
      <li><a href="#"><img src="/img/TEST.png" alt="software img" width="200px" height="160"></a></li>
      <li><a href="#"><img src="/img/Programmer.png" alt="Programmer img" width="200px" height="160"></a></li>
      <li><a href="#"><img src="/img/GITHUB.png" alt="github img" width="200px" height="160"></a></li>
      <li><a href="#"><img src="/img/JAVA2.png" alt="java2 img" width="200px" height="160"></a></li>
      <li><a href="#"><img src="/img/C.png" alt="C img" width="200px" height="160"></a></li>
    </ul>
  </div>
  <div class="c3">
    <h5>코코아의 코딩 대장들 모여라 ~ 😎 이거 들으면 된다는데 안들어 ?<br>#고수 #엑스퍼트 #마스터</h5>
    <ul class="clearfix">
      <li><a href="#"><img src="/img/HTML.png" alt="html img" width="252px" height="160"></a></li>
      <li><a href="#"><img src="/img/JQUERY.png" alt="jquery img" width="252px" height="160"></a></li>
      <li><a href="#"><img src="/img/JSP.png" alt="jsp img" width="252px" height="160"></a></li>
      <li><a href="#"><img src="/img/ORACLE.png" alt="oracle img" width="252px" height="160"></a></li>
    </ul>
  </div>
</section><!--컨텐츠 끝-->

</body>
</html>