@charset "utf-8";
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'NEXON Lv1 Gothic OTF';
}

img{
    display: block;
}

#header{
    width: 1200px;
    margin: 0 auto;
    height: 200px;
    position: relative;
    border-bottom: #A47C6D 1px solid;
}

#header >a >img{
    position: absolute;
    float: left;
    left: 475px;
}

.sighOut{
    float: right;
    background-color: #A47C6D;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 72px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 25px;
    text-decoration: none;
}

#header >ul{
    float: right;
    position: absolute;
    bottom: 35px;
    right: 45px;
}

#header >ul >li{
    float: left;
}